/*newSearch*/

.sbox {
    position: absolute;
    z-index: 1001;
    margin-top: 35px;
    overflow: hidden;
    color: #484848;
    font-size: 14px;
    letter-spacing: 0;
    min-width: 312px;
    .sboxPosi {
        position: relative;
        overflow: hidden;
        padding-bottom: 10px;
        .sboxWrap {
            width: 296px;
            margin-right: 4px;
            background-color: #fff;
            -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.8);
            -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.8);
            box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.8);
            float: right;
            .title {
                padding: 5px 10px;
                background-color: #e6e6e6;
            }
            .advance ul li {
                list-style: none;
                display: block;
                padding: 10px;
                overflow: hidden;
                cursor: pointer;
                color: rgba(0, 0, 0, 0.5);
                b {
                    color: #484848;
                }
                &:after {
                    content: "→";
                    display: block;
                    float: right;
                }
                &:hover {
                    background-color: #0a58a6;
                    color: #fff;
                    &::after,
                    b {
                        color: #fff;
                    }
                }
            }
            .newkey ul {
                overflow: hidden;
                li {
                    list-style: none;
                    display: block;
                    float: left;
                    width: 33%;
                    border-bottom: 1px solid #ccc;
                    border-right: 1px solid #ccc;
                    &:nth-child(3n) {
                        border-right: none;
                    }
                    a {
                        display: block;
                        text-align: center;
                        padding: 10px;
                        font-weight: bold;
                        &:hover {
                            background-color: #0a58a6;
                            color: #fff;
                        }
                    }
                }
            }
            .advance-in {
                .title {
                    color: #999;
                    cursor: pointer;
                    &:before {
                        content: "←";
                        display: block;
                        float: left;
                        margin-right: 10px;
                        color: #484848;
                    }
                    &:hover {
                        background-color: #666;
                        color: #666;
                        &::before {
                            content: "← 返回";
                            color: #fff;
                        }
                    }
                }
                ul {
                    overflow: hidden;
                    li {
                        list-style: none;
                        display: block;
                        float: left;
                        width: 33%;
                        border-bottom: 1px solid #ccc;
                        border-right: 1px solid #ccc;
                        &:nth-child(3n) {
                            border-right: none;
                        }
                        a {
                            display: block;
                            text-align: center;
                            padding: 10px;
                            font-weight: bold;
                            cursor: pointer;
                            &:hover {
                                background-color: #0a58a6;
                                color: #fff;
                            }
                        }
                    }
                }
            }
            .relateWord {
                ul {
                    li {
                        list-style: none;
                        display: block;
                        a {
                            display: block;
                            padding: 10px;
                            b {
                                margin-right: 2px;
                                color: #0a58a6;
                            }
                            &:hover {
                                background-color: #efefef;
                            }
                        }
                    }
                }
            }
        }
    }
}
